<p-tabView>
  <p-tabPanel header="AUTO DISPLAY ON">
    <p-menubar [model]="items">
      <div>
        <input type="text" pInputText placeholder="Search">
        <button pButton label="Logout" icon="fa-sign-out"></button>
      </div>
    </p-menubar>
  </p-tabPanel>
  <p-tabPanel header="AUTO DISPLAY OFF">
    <p-menubar [model]="items" [autoDisplay]="false">
      <div>
        <input type="text" pInputText placeholder="Search">
        <button pButton label="Logout" icon="fa-sign-out"></button>
      </div>
    </p-menubar>
  </p-tabPanel>
</p-tabView>
