<h2>PRIME NG BUTTON DEMO</h2>
<!--<p-button label="Click"></p-button>-->
<p-button label="Click" styleClass="ui-button-info"></p-button>
<p-button icon="fa fa-fw fa-check" label="Click"></p-button>

<button pButton type="button" label="Secondary" class="ui-button-secondary"></button>

<button pButton type="button" label="Success" class="ui-button-success"></button>

<button pButton type="button" label="Warning" class="ui-button-warning"></button>

<button pButton type="button" label="Danger" class="ui-button-danger"></button>
